page-item {

}

ion-input {
	
	
	padding-left: 2px;
  width: 20em;
}
#inpbox{
    margin-top: 2em;
}

#addItemButton{
      margin-bottom: 5em;
}

#itemList{
    margin-top: 4em;
}
#deleteButton{
background-color: red;
color: white;
border-radius: 17px;
margin-right: 5px;
height: 2em;
width: 4em;
font-size: 15px;
margin-top: 4px;
}
#editButton{
background-color: lightgreen;
color: black;
border-radius: 17px;
height: 2em;
width: 4em;
font-size: 15px;
margin-top: 4px;
}

.alert-head {
    background-color: skyblue;
    color: white;
    height: 4em;
  }
  
  